.logo{
    width: 35%;
    height: 35%;
}
.background{
    background-color: #f6f1ed;
    width: 100%;
    padding: 25px;
}
// .input-container{
//     width: 100%;
//     height: 100%;
// }

.turquoise{
    color : #40a8a7;
}