// .table-container{
//     margin: auto;
//     width: 90%;
// }
table{
    table-layout: fixed;
}
table, th, td{
    word-wrap: break-word;
}
// td .editHover :hover {
//     background: #E8F3FF 
// }
.font{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}